Correct address rejected

When hitting reply, I got a header like this:

    To: foo@example.com <foo@example.com>

This was rejected by Wanderlust with `Error while parsing address`.

This email address is not correct, at least according to http://emailregex.com/

Right.  RFC 5322, Section 3.2.3.

I still find it confusing that when I hit reply, WL inserts an address that it later rejects, but I guess I should close this ticket.